.main-menu {
    background-color: #418a95;
}

.main-menu__item {
    color: #f6f3f7;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    display: inline-block;
    padding: 20px 30px;

}
.main-menu__item:hover {
    background-color: #3A7B85;
}

.main-menu__item:focus {
    outline: none;
}

.left {
    float: left;
}
.right {
    float: right;
}

.header {
    overflow: hidden;
    background-color: #418a95;
}
